extends layout

block content

	link(rel='stylesheet', href='/css/display.css', media='screen', charset='utf-8')
	script(src="/socket.io/socket.io.js")

	script(src="js/libs/Visualizer/Three.js")
	script(src="js/libs/Visualizer/AudioInput.js")
	script(src="js/libs/Visualizer/recorder.js")
	script(src="js/libs/Visualizer/TempoManager.js")

	script(src="js/libs/Three/ShaderExtras.js")

	script(src="js/libs/Three/postprocessing/EffectComposer.js")
	script(src="js/libs/Three/postprocessing/MaskPass.js")
	script(src="js/libs/Three/postprocessing/RenderPass.js")
	script(src="js/libs/Three/postprocessing/ShaderPass.js")
	script(src="js/libs/Three/postprocessing/BloomPass.js")

	script(src="js/libs/Three/Detector.js")

	script(src="js/libs/control.js")
	script(src="js/display/CompleteVisualizer.js")

	script(src="js/display/displayApp.js")