doctype 5
html
	head
		title="TweakerVJ"
		link(rel='stylesheet', href='/css/lib/bootstrap.min.css', media='screen', charset='utf-8')
		link(rel='stylesheet', href='/css/lib/bootstrap-switch.css', media='screen', charset='utf-8')
		link(rel='stylesheet', href='/css/lib/flat-ui-fonts.css', media='screen', charset='utf-8')
		link(rel='stylesheet', href='/css/lib/slider.css', media='screen', charset='utf-8')
		script(src="js/libs/jquery.js")
		script(src="js/libs/jquery-ui-1.10.3.custom.js")
		script(src="js/libs/bootstrap-switch.js")
		script(src="js/libs/bootstrap.min.js")
		script(src="js/libs/bootstrap-slider.js")
		script(src="easyrtc/easyrtc.js")
		script(src="easyrtc/rtcManager.js")
		script(src="js/libs/Tools.js")
		script(src="js/libs/components.js")
		script(src="js/libs/logger.js")
		script(src="js/libs/styleManager.js")
		script(src="js/libs/GlobalGUI.js")
	body
		block content